
TechSmithCamtasia/Scripts/postinstall

TechSmithCamtasia/TechSmithAddScriptKey.pyc

TechSmithCamtasia/Scripts/postinstall

TechSmithCamtasia/TechSmithAddScriptKey.pyc

TechSmithSnagit/Scripts/postinstall

TechSmithSnagit/TechSmithAddScriptKey.pyc

TechSmithCamtasia/Scripts/postinstall

*.pyc

TechSmithSnagit/Scripts/postinstall
