TechSmithCamtasia/Scripts/postinstall
TechSmithSnagit/Scripts/postinstall
TechSmithCamtasia/TechSmithAddScriptKey.pyc
TechSmithSnagit/TechSmithAddScriptKey.pyc
*.pyc

TechSmithSnagit/Scripts/postinstall

*.pyc

TechSmithSnagit/Scripts/postinstall
*.pyc
